fastapi[all]       
uvicorn            
docker             
psycopg2-binary    
SQLAlchemy         
alembic            
python-dotenv      
httpx             
prometheus-client  
prometheus-fastapi-instrumentator